@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Essentiel Classes */
.App {
    background-color: #f7f7f7;
    min-height: 100vh;
}
.main_height {
  height: calc(100vh - 60px);
}
.active_ele {
    background-color: #e8e8e8 !important;
    color: #444;
    border-radius: 5px;
}



.hideAside {
  display: none;
}
.setWidth {
  width: 100% !important;
}



aside {
    position: absolute;
    top: 70px;
    left: 0;
    width: 240px !important;
}
.second_content {
  width: calc(100% - 280px);
}
.main_element {
  display: flex;
  justify-content: end;
}



